



@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>


    <h1 style="color:black;">
        Certifications
    </h1>
    <center>
        <img src="~/Images/python.jpeg" height="250" width="500" />
    </center>


    Enhance the skills and capabilities
    As it is said “Practice makes a man perfect”; the more you strive towards learning new thing the more it gets you closer towards perfection. Making you learn all the skills and knowledge required. Never give up on a particular task, keep patience and keep practicing it until you succeed.
    <br />
    Help to find the area of interest
    For undergraduate students, internships play a vital role in recognizing their talent
    <br />
    <center>
        <img src="~/Images/redhat.jpeg" height="250" width="500" />
    </center>
    <br />
    Build network
    Making connections and building a strong relation can fill the gap between an internship and a career. Leaving a good impression is always of benefit in any organization. Even a good networking and impression can help you land work even after the completion of your internship.

    Career opportunities
    Working with all your interest and curiosity to learn during your internship can land you up as an employee in the company opening a wide area of opportunities.
</div>