
@{
    ViewBag.Title = "Achievements";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>

    <h1 style="color:black;">
        Internship
    </h1>
    <p>
        In today’s era of increase in vocational courses the importance of internships is gradually increasing. Internships can be seen as the simple job training period were one learns the functioning of an organization and ways of work in specialized area. There are number of companies which provide internships which could be paid or unpaid. Students choose internships based on their courses. Internships should be seen simply as an opportunity to learn skills and techniques in the area of your interest. Interns should see it as ways were you can establish your contacts and strengthen your career.

        Here are some of the points which can help to know the importance of internship:-

        Professional work environment
        It provides a professional work environment to the interns making it easier for them to understand the code of ethics followed by the organization. The environment you get in you colleges and universities is completely different from the organizations.

        Enhance the skills and capabilities
        As it is said “Practice makes a man perfect”; the more you strive towards learning new thing the more it gets you closer towards perfection. Making you learn all the skills and knowledge required. Never give up on a particular task, keep patience and keep practicing it until you succeed.

        Help to find the area of interest
        For undergraduate students, internships play a vital role in recognizing their talent and field of interest. Simply by reading a particular subject you cannot judge if it is your area of interest. Working and understanding different aspects of a particular field or area can help you in exploring your interest and talent.

        Increase the level of confidence
        When you know the work, the process of doing it, the confidence level automatically increases. When you perform well and get appraised for it, it boosts up a positive attitude inside you and provokes you to do better increasing your confidence.

        Experience
        Always try to learn more and get as much experience possible. Try learning every new thing which excites you. Experiences help you to tackle any future difficulties and make your work easier. You can read this post to know how internships make us learn new things.

        Build network
        Making connections and building a strong relation can fill the gap between an internship and a career. Leaving a good impression is always of benefit in any organization. Even a good networking and impression can help you land work even after the completion of your internship.

        Career opportunities
        Working with all your interest and curiosity to learn during your internship can land you up as an employee in the company opening a wide area of opportunities.

        Build resume
        To get a job it is important to make a strong resume, to make yourself standout, different and best from the bevy. Feedback of good work from a renowned company having goodwill can enhance the resume and increases the possibilities of selection.
    </p>
    <img src="~/Images/1.jpeg" height="250" width="500" />
    <img src="~/Images/2.jpeg" height="250" width="500" />
    <img src="~/Images/3.jpg" height="250" width="500" />

</div>
